body[data-theme='light'] {
  --first-Bckg-Color: #f7f6f9;
  --second-Bckg-Color: #ffffff;
  --third-Bckg-Color: #ffffff;
  --fourth-Bckg-Color: #3e85f3;

  --LogReg-Bckg-Color: #dcebf7;
  --LogReg-Form-Color: #fff;
  --LogReg-Text-Color: #111;
  --LogRef-Btn-Shadow: rgba(136, 165, 191, 0.48);
  --LogRef-Field-Hover: #dce3e5;

  --first-Feedback-Bckg-Color: #ffffff;
  --second-Feedback-Bckg-Color: #f6f6f6;

  --first-Feedback-Text-Color: rgba(52, 52, 52, 0.8);
  --second-Feedback-Text-Color: #343434;

  --first-Status-Bckg-Color: #72c2f8;
  --second-Status-Bckg-Color: #f3b249;
  --third-Status-Bckg-Color: #ea3d65;

  --first-Statistics-Gradient: linear-gradient(
    0deg,
    #ffd2dd 0%,
    rgba(255, 210, 221, 0) 96.87%
  );
  --second-Statistics-Gradient: linear-gradient(
    0deg,
    #3e85f3 0%,
    rgba(62, 133, 243, 0) 100%
  );

  --first-Text-Color: #111111;
  --second-Text-Color: #343434;
  --third-Text-Color: rgba(52, 52, 52, 0.5);
  --fourth-Text-Color: rgba(52, 52, 52, 0.5);
  --fiveth-Text-Color: #111111;
  --sixth-Text-Color: #343434;
  --error-Text-Color: #e74a3b;

  --first-Btn-Text-Color: #ffffff;
  --second-Btn-Text-Color: #343434;
  --third-Btn-Text-Color: #111111;

  --first-Toogle-Month-Day-Text-Color: #3e85f3;
  --second-Toogle-Month-Day-Text-Color: #3e85f3;

  --first-Toogle-Month-Day-Bckg-Color: #cae8ff;
  --second-Toogle-Month-Day-Bckg-Color: #e3f3ff;

  --first-Bckg-Btn-Color: #3e85f3;
  --second-Bckg-Btn-color: #e3f3ff;
  --hover-Bckg-Btn-Color: #2b78ef;
  --hover-Btn-Shadow: rgba(136, 165, 191, 0.48);

  --first-Icon-Color: #3e85f3;

  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --first-Input-Border-Color: #1111111a;
  --second-Input-Border-Color: #111;
  --placeholder-Color: #11111126;

  --sidebar-logo-title: #3e85f3;
  --user-nav-item-hover: #3e85f3;
  --user-nav-item-bg-active: #e3f3ff;

  --modal-bckg-color: #fff;

  --addtask-Bckg-Btn-color: #e3f3ff;
  --addtask-Label-text-color: #343434;
  --addtask-Input-Bckg-color: #f6f6f6;
  --addtask-Input-Border-color: #f6f6f6;
  --addtask-Input-Text-color: #343434;
  --addtask-Input-Hover-color: #3e85f3;
  --addtask-icon-color-time-input: invert(0);
  --addtask-RadioButtonLabel-color: #343434;
  --addtask-RadioButton-low-color: #72c2f8;
  --addtask-RadioButton-middle-color: #f3b249;
  --addtask-RadioButton-high-color: #ea3d65;
  --addtask-RadioButton-low-checked-color: rgba(114, 194, 248, 0.5);
  --addtask-RadioButton-middle-checked-color: rgba(243, 178, 73, 0.5);
  --addtask-RadioButton-high-checked-color: rgba(234, 61, 101, 0.5);
  --addtask-RadioButton-outline-default-color: #ffffff;
  --addtask-EditBtn-text-color: #ffffff;
  --addtask-EditBtn-Bckg-color: #3e85f3;
  --addtask-EditBtn-hover-color: #2b78ef;
  --addtask-AddBtn-text-color: #ffffff;
  --addtask-AddBtn-Bckg-color: #3e85f3;
  --addtask-AddBtn-hover-color: #2b78ef;
  --addtask-Cancel-Btn-text-color: #343434;
  --addtask-Cancel-Bckg-color: #e5edfa;
  --addtask-Cancel-hover-color: #f7f7f7;
  --toast-main-color: #fff;
  --toast-background-color: #72c2f8;

  --loader-Gradient: linear-gradient(
    rgba(220, 235, 247, 0.56),
    rgba(164, 212, 248, 0.663)
  );

  --addtask-Btn-border: 1px dashed #3e85f3;
  --taskitem-border: 1px solid rgba(220, 227, 229, 0.8);
  --taskavatar-border: 1.8px solid #3e85f3;

  --vertical-scrollbar-track-color: #f2f2f2;
  --vertical-scrollbar-thumb-color: #e7e5e5;
  --horizontal-scrollbar-track-color: #f2f2f2;
  --horizontal-scrollbar-thumb-color: #e7e5e5;

  --mainpage-description-color: rgba(17, 17, 17, 0.9);
  --mainpage-itemtitle-color: #171820;
}

body[data-theme='dark'] {
  --first-Bckg-Color: #171820;
  --second-Bckg-Color: #21222c;
  --third-Bckg-Color: #13151a;
  --fourth-Bckg-Color: #3e85f3;

  --LogReg-Bckg-Color: #171820;
  --LogReg-Form-Color: #21222c;
  --LogReg-Text-Color: #ffffff;
  --LogRef-Btn-Shadow: rgba(84, 93, 101, 0.96);
  --LogRef-Field-Hover: #ffffff;

  --first-Feedback-Bckg-Color: #171820;
  --second-Feedback-Bckg-Color: #171820;

  --first-Feedback-Text-Color: rgba(250, 250, 250, 0.3);
  --second-Feedback-Text-Color: #ffffff;

  --first-Status-Bckg-Color: #72c2f8;
  --second-Status-Bckg-Color: #f3b249;
  --third-Status-Bckg-Color: #ea3d65;

  --first-Statistics-Gradient: linear-gradient(
    0deg,
    #ffd2dd 0%,
    rgba(255, 210, 221, 0) 96.87%
  );
  --second-Statistics-Gradient: linear-gradient(
    0deg,
    #3e85f3 0%,
    rgba(62, 133, 243, 0) 100%
  );

  --first-Text-Color: #ffffff;
  --second-Text-Color: #ffffff;
  --third-Text-Color: #ffffff;
  --fourth-Text-Color: rgba(250, 250, 250, 0.3);
  --fiveth-Text-Color: rgba(250, 250, 250, 0.3);
  --sixth-Text-Color: rgba(250, 250, 250, 0.3);
  --error-Text-Color: #e74a3b;

  --first-Btn-Text-Color: #ffffff;
  --second-Btn-Text-Color: #ffffff;
  --third-Btn-Text-Color: #111111;

  --first-Toogle-Month-Day-Text-Color: #ffffff;
  --second-Toogle-Month-Day-Text-Color: #3e85f3;

  --first-Toogle-Month-Day-Bckg-Color: #3e85f3;
  --second-Toogle-Month-Day-Bckg-Color: #e3f3ff;

  --first-Bckg-Btn-Color: #3e85f3;
  --second-Bckg-Btn-color: #21222c;
  --hover-Bckg-Btn-Color: #2b78ef;
  --hover-Btn-Shadow: rgba(136, 165, 191, 0.48);

  --first-Icon-Color: #3e85f3;

  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --first-Input-Border-Color: #ffffff26;
  --second-Input-Border-Color: #fff;
  --placeholder-Color: #fafafa4d;

  --sidebar-logo-title: #e3f3ff;
  --user-nav-item-hover: #fff;
  --user-nav-item-bg-active: #3e85f3;

  --modal-bckg-color: #13151a;

  --addtask-Bckg-Btn-color: #3e85f3;
  --addtask-Label-text-color: #fafafa;
  --addtask-Input-Bckg-color: #13151a;
  --addtask-Input-Border-color: #ffffff;
  --addtask-Input-Text-color: #ffffff;
  --addtask-Input-Hover-color: #3e85f3;
  --addtask-icon-color-time-input: invert(1);
  --addtask-RadioButtonLabel-color: #ffffff;
  --addtask-RadioButton-low-color: #72c2f8;
  --addtask-RadioButton-middle-color: #f3b249;
  --addtask-RadioButton-high-color: #ea3d65;
  --addtask-RadioButton-low-checked-color: rgba(114, 194, 248, 0.5);
  --addtask-RadioButton-middle-checked-color: rgba(243, 178, 73, 0.5);
  --addtask-RadioButton-high-checked-color: rgba(234, 61, 101, 0.5);
  --addtask-RadioButton-outline-default-color: #13151a;
  --addtask-EditBtn-text-color: #ffffff;
  --addtask-EditBtn-Bckg-color: #3e85f3;
  --addtask-EditBtn-hover-color: #2b78ef;
  --addtask-AddBtn-text-color: #ffffff;
  --addtask-AddBtn-Bckg-color: #3e85f3;
  --addtask-AddBtn-hover-color: #2b78ef;
  --addtask-Cancel-Btn-text-color: #343434;
  --addtask-Cancel-Bckg-color: #e5edfa;
  --addtask-Cancel-hover-color: #f7f7f7;
  --toast-main-color: #fff;
  --toast-background-color: #72c2f8;
  --loader-Gradient: linear-gradient(
    rgba(59, 130, 236, 0.609),
    rgba(33, 34, 44, 0.609)
  );

  --addtask-Btn-border: none;
  --taskitem-border: 1px solid rgba(255, 255, 255, 0.15);
  --taskavatar-border: 1.8px solid #3e85f3;

  --vertical-scrollbar-track-color: #2d3037;
  --vertical-scrollbar-thumb-color: #171820;
  --horizontal-scrollbar-track-color: #21222c;
  --horizontal-scrollbar-thumb-color: #2d3037;

  --mainpage-description-color: #dcebf7;
  --mainpage-itemtitle-color: #dcebf7;
}
