body[data-theme='light'] {
  --first-Bckg-Color: #F7F6F9;
  --second-Bckg-Color: #FFFFFF;
  --third-Bckg-Color: #FFFFFF;
  --fourth-Bckg-Color: #3E85F3;

  --first-Feedback-Bckg-Color:#FFFFFF;
  --second-Feedback-Bckg-Color:#F6F6F6;

  --first-Feedback-Text-Color:rgba(52, 52, 52, 0.8);
  --second-Feedback-Text-Color:#343434;

  --first-Status-Bckg-Color: #72C2F8;
  --second-Status-Bckg-Color: #F3B249;
  --third-Status-Bckg-Color: #EA3D65;

  --first-Statistics-Gradient:
    linear-gradient(0deg, #FFD2DD 0%, rgba(255, 210, 221, 0) 96.87%);
  --second-Statistics-Gradient:
    linear-gradient(0deg, #3E85F3 0%, rgba(62, 133, 243, 0) 100%);

  --first-Text-Color: #111111;
  --second-Text-Color: #343434;
  --third-Text-Color: rgba(52, 52, 52, 0.5);
  --fourth-Text-Color: rgba(52, 52, 52, 0.5);

  --first-Btn-Text-Color: #FFFFFF;
  --second-Btn-Text-Color: #343434;
  --third-Btn-Text-Color: #111111;

  --first-Toogle-Month-Day-Text-Color: #3E85F3;
  --second-Toogle-Month-Day-Text-Color: #3E85F3;

  --first-Toogle-Month-Day-Bckg-Color: #CAE8FF;
  --second-Toogle-Month-Day-Bckg-Color: #E3F3FF;

  --first-Bckg-Btn-Color: #3E85F3;
  --second-Bckg-Btn-color: #E3F3FF;

  --first-Icon-Color: #3E85F3;

  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body[data-theme='dark'] {
  --first-Bckg-Color: #171820;
  --second-Bckg-Color: #21222C;
  --third-Bckg-Color: #13151A;
  --fourth-Bckg-Color: #3E85F3;

  --first-Feedback-Bckg-Color:#171820;
  --second-Feedback-Bckg-Color:#171820;

  --first-Feedback-Text-Color:rgba(250, 250, 250, 0.3);
  --second-Feedback-Text-Color:#FFFFFF;

  --first-Status-Bckg-Color: #72C2F8;
  --second-Status-Bckg-Color: #F3B249;
  --third-Status-Bckg-Color: #EA3D65;

  --first-Statistics-Gradient:
    linear-gradient(0deg, #FFD2DD 0%, rgba(255, 210, 221, 0) 96.87%);
  --second-Statistics-Gradient:
    linear-gradient(0deg, #3E85F3 0%, rgba(62, 133, 243, 0) 100%),;

  --first-Text-Color: #FFFFFF;
  --second-Text-Color: #FFFFFF;
  --third-Text-Color: #FFFFFF;
  --fourth-Text-Color: rgba(250, 250, 250, 0.3);

  --first-Btn-Text-Color: #FFFFFF;
  --second-Btn-Text-Color: #FFFFFF;
  --third-Btn-Text-Color: #111111;

  --first-Toogle-Month-Day-Text-Color: #FFFFFF;
  --second-Toogle-Month-Day-Text-Color: #3E85F3;

  --first-Toogle-Month-Day-Bckg-Color: #3E85F3;
  --second-Toogle-Month-Day-Bckg-Color: #E3F3FF;

  --first-Bckg-Btn-Color: #3E85F3;
  --second-Bckg-Btn-color: #21222C;

  --first-Icon-Color: #3E85F3;

  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}